@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&family=Quicksand:wght@400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 1.6rem;
  font-family: "Dosis";
}

.mainContent {
  max-width: 1020px;
  margin: 0 auto;
}

.header {
  background-color: rgb(9, 37, 48);
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  padding: 2rem 4rem;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.searchInput {
  box-shadow: 0.5rem 0.5rem rgba(255, 255, 255, 0.6);
  padding: 1rem 2rem;
  border-radius: 1.4rem;
  font-family: inherit;
  width: 40rem;
  font-size: 1.6rem;
  border: none;
  margin-right: 2rem;
}

.searchInput:focus {
  outline: none;
}

.searchButton {
  box-shadow: 0.5rem 0.5rem rgba(255, 255, 255, 0.6);
  padding: 1rem 2rem;
  font-family: inherit;
  border: none;
  border-radius: 1.4rem;
  color: white;
  background-color: rgb(31, 192, 79);
  font-size: 1.6rem;
  transform: all 0.3s;
  cursor: pointer;
  transition: all 0.3s;
}

.searchButton:active {
  transform: translate(3px, 3px);
  box-shadow: 0.1rem 0.1rem rgba(255, 255, 255, 0.6);
}

.title {
  letter-spacing: 1rem;
  font-size: 3.5rem;
}

.title-link {
  text-decoration: none;
  color: inherit;
}

.article {
  border-radius: 2rem;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.4);
  padding: 5rem;
  margin-top: 8rem;
  line-height: 1.4;
}

.article-title {
  font-size: 4rem;
}

.article-image {
  width: 100%;
  object-fit: contain;
}

.article-link {
  margin-left: 2rem;
  flex: 1;
}

.article-lead {
  font-size: 2rem;
}

.article-info {
  display: flex;
}

.article-info div {
  flex: 2;
}

.footer {
  background-color: rgb(9, 37, 48);
  color: white;
  padding: 6rem 10rem;
  margin-top: 10rem;
  border-top: 3px solid black;
}

footer p {
  border-bottom: 2px solid rgb(209, 205, 205);
  padding-bottom: 3px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.made-by div,
.other-projects div {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.footer-icon {
  fill: white;
  box-shadow: 0.5rem 0.5rem rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  transition: all 0.3s;
}
.footer-icon:active {
  transform: translate(3px, 3px);
  box-shadow: 0.1rem 0.1rem rgba(255, 255, 255, 0.6);
}

.copyright p {
  text-align: center;
}

.no-und {
  border-bottom: none;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 56%;
  }
  header {
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {
  .article-info {
    flex-direction: column;
  }

  .article-info div {
    flex: 1;
  }

  .links {
    flex-direction: column;
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 530px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchButton {
    margin-top: 2rem;
    width: 15rem;
  }
}

@media only screen and (max-width: 375px) {
  .links {
    font-size: 2rem;
  }
  .searchInput {
    width: 30rem;
  }
}

@media only screen and (max-width: 350px) {
  .links {
    font-size: 1.4rem;
  }
}
